name: Android CI

on: [push, pull_request]

jobs:
  assembleRelease:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Make Gradle Executable
      run: chmod +x ./gradlew
    - name: Run Unit Test
      run: sudo bash -c "./gradlew test"
    - name: Build with Gradle
      run: sudo bash -c "./gradlew assembleRelease --no-daemon"